*
!*/
/vendor/

!/config/routes.php

!/src/Controller/DependentsController.php
!/src/Controller/ProductsController.php
!/src/Controller/Component/DependentsComponent.php

!/src/Model/Entity/Classifier.php
!/src/Model/Entity/Product.php
!/src/Model/Table/ClassifiersTable.php
!/src/Model/Table/ProductsTable.php

!/src/Template/Dependents/index.ctp
!/src/Template/Layout/default.ctp
!/src/Template/Products/edit.ctp

!/webroot/js/scripts.js

!db.sql

!.gitignore

!LICENSE
!README.md